html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}

#lista {
    padding: 10px;
}

.header {
    min-height: 200px;
}

#head1 {
    background-image: url("imagens/header-rosa.jpg");
}

#head2 {
    background-image: url("imagens/header-colorido.webp");
}

#head3 {
    background-image: url("imagens/header-azul.webp")
}

#head4 {
    background-image: url("imagens/header-estilizado.webp")
}

#titulo {
    color: red;
    text-align: center;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(0, 56, 240);
    min-height: 150px;
}